body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 0px 450px;
}



.logo {
    font-weight: bolder;
}

.header-links {
    display: flex;
    gap: 30px;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #1F2937;
    color: white;
    padding: 100px 450px;
}

.intro-image {
    height: 350px;
    width: 500px;
    
}